.track-actions {
  display: flex;
  gap: 15px;
  margin-left: auto; /* Ajuste automático basado en el espacio disponible */
}

@media (max-width: 768px) {
  .album-image {
    width: 40px;
    height: 40px;
  }

  .song-title {
    font-size: 14px;
  }

  .artist-name {
    font-size: 12px;
  }

  .track-actions, .additional-controls {
    gap: 10px;
  }
}
